<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cardo&family=Libre+Baskerville:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Forum&family=Libre+Baskerville:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon" />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark border-bottom shadow-sm">
      <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="/"
          ><img src="../assets/hero.png" width="40px" alt="logo" /><strong
            >LikhSpire</strong
          ></a
        >
        <a href="/blogs-list" class="btn btn-primary fw-bold"
          ><i class="bi bi-journal-text"></i> Back to the List
        </a>
      </div>
    </nav>
    <main class="container overflow-x-hidden">
      <div class="d-flex py-1 editors justify-content-end">
        <button
          onclick="editBlog()"
          class="btn edit-blog ms-2 btn-success fw-bold"
        >
          <i class="bi-pen"></i>
        </button>
      </div>
      <section class="container px-lg-5 blog-detail"></section>
    </main>
    <!-- Footer -->
    <footer class="text-center py-2 border-top">
      <div class="container d-flex justify-content-between align-items-center">
        <p class="mb-0">
          &copy; 2025 LikhSpire.
          <span class="d-sm-hidden">All Rights Reserved.</span>
        </p>
        <div class="social-icons">
          <a
            href="https://www.linkedin.com/in/mehak-fatima-naqvi/"
            target="_blank"
            class="text-dark mx-2"
            ><i class="bi bi-linkedin fs-4"></i
          ></a>
          <a
            href="https://github.com/kaniz-naqvi"
            target="_blank"
            class="text-dark mx-2"
            ><i class="bi bi-github fs-4"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
  <script>
    const blogDetails = document.querySelector(".blog-detail");
    let currBlog;
    window.onload = async function () {
      const urlParams = new URLSearchParams(window.location.search);
      const blogId = urlParams.get("id");
      let response = await fetch("/api/blogs");
      let blogs = await response.json();
      currBlog = blogs.find((b) => Number(b.id) === Number(blogId));
      if (currBlog) {
        showBlog(currBlog);
      } else {
        console.log("Blog not found!");
      }
    };
    function showBlog(blog) {
      let blogHTML = `
          <h2>${blog.title}</h2>
          <article>
            ${blog.content}
          </article>
        `;
      blogDetails.innerHTML = blogHTML;
    }
    function editBlog() {
      document.location.href = `/create?id=${currBlog.id}`;
    }
  </script>
</html>
