<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Antic+Didone&family=Libre+Baskerville:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Forum&family=Libre+Baskerville:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="../assets/logo.png" type="image/x-icon" />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="../styles.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark border-bottom shadow-sm">
      <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="/"
          ><img src="../assets/hero.png" width="40px" alt="logo" /><strong
            >LikhSpire</strong
          ></a
        >
        <a href="/blog-list" class="btn btn-primary fw-bold"
          ><i class="bi-pen">Back to List</i>
        </a>
      </div>
    </nav>
    <main class="container overflow-x-hidden">
      <div class="d-flex py-1 editors justify-content-end">
        <a href="/create" class="btn ms-2 btn-success fw-bold"
          ><i class="bi-pen"></i>
        </a>
        <a href="/create" class="btn ms-2 btn-danger fw-bold"
          ><i class="bi-trash3"></i>
        </a>
      </div>
      <section class="container px-5 blog-detail">
        <h1>Heading of Blog</h1>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat optio
        laborum quo provident, voluptate suscipit expedita illo amet vero
        explicabo maiores ratione dignissimos soluta adipisci iste saepe aliquid
        dolore modi. Libero architecto possimus fuga dolor vel unde molestiae
        cumque est corporis, nesciunt voluptas totam. Cupiditate harum
        reiciendis recusandae porro tempore earum sit, officia dolores sapiente,
        mollitia error blanditiis est cumque! Maiores officia dolor
        voluptatibus, corporis ipsam tempore voluptate error? Quidem rem
        perspiciatis quasi quas nobis iusto quos magni porro, optio expedita
        nulla? Natus distinctio eius, molestias et ullam nesciunt inventore.
        Suscipit ea et nostrum quod amet earum atque sequi quaerat consequatur
        nesciunt eveniet aliquid dicta libero magni aut laudantium neque
        perspiciatis repudiandae veniam odit asperiores, esse qui pariatur
        ipsam! Ea. Velit excepturi, sit nulla repellendus optio dolorum placeat
        nisi corrupti expedita dolore tempore cum, necessitatibus earum dolorem
        voluptates voluptate a labore distinctio, molestias reprehenderit in qui
        consequatur hic asperiores? Porro! Repellendus officiis quia, autem iure
        quasi doloremque error. Similique mollitia repellendus a eius voluptates
        saepe, alias facere, assumenda architecto aliquam incidunt quaerat
        deserunt praesentium, atque maxime rem quasi reiciendis? Est. Dolore
        dignissimos autem beatae ratione quisquam, aliquid eligendi animi
        aperiam amet suscipit perspiciatis consectetur iure explicabo vitae! Quo
        deserunt expedita temporibus atque error doloribus cumque? Laudantium
        voluptates quia architecto similique? Culpa saepe libero vel atque, sed
        repudiandae facilis. Consectetur maxime obcaecati, accusamus ipsum rerum
        repellendus eius repellat animi. Repellat cumque aut incidunt molestias
        corrupti veritatis placeat unde similique minima est? Atque eligendi
        doloremque eum porro doloribus quo, cupiditate et autem, cum aut nemo
        laboriosam perferendis odit ad eveniet dolorum ut omnis. Quaerat fugiat
        amet, ut minima a doloribus accusantium omnis? Iusto, repellat. Corrupti
        quos ipsa odit fugit optio, dolorem sunt nihil incidunt dolores
        aspernatur voluptatum a tenetur placeat inventore nesciunt recusandae
        exercitationem aliquam, voluptate nobis? Quisquam ipsum at eos quae.
      </section>
    </main>
    <!-- Footer -->
    <footer class="text-center py-2 border-top">
      <div class="container d-flex justify-content-between align-items-center">
        <p class="mb-0">
          &copy; 2025 LikhSpire.
          <span class="d-sm-hidden">All Rights Reserved.</span>
        </p>
        <div class="social-icons">
          <a
            href="https://www.linkedin.com/in/mehak-fatima-naqvi/"
            target="_blank"
            class="text-dark mx-2"
            ><i class="bi bi-linkedin fs-4"></i
          ></a>
          <a
            href="https://github.com/kaniz-naqvi"
            target="_blank"
            class="text-dark mx-2"
            ><i class="bi bi-github fs-4"></i
          ></a>
        </div>
      </div>
    </footer>
  </body>
</html>
