:root {
  --primary-color: #ff6b6b; /* Soft Red */
  --secondary-color: #ffc3a0; /* Peachy */
  --bg-color: #12151a; /* Dark Navy */
  --text-color: #f8f8f8; /* Off White */
  --font-family: "Cardo", serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 24px;
}
h1,
h2,
h3,
h4,
strong {
  font-family: "Cardo", serif;
  /* font-weight: bold;
   */
  font-weight: 300;
  letter-spacing: 0.3px;
}
.navbar {
  background: rgba(18, 21, 26, 0.9) !important;
}

.navbar-brand {
  color: var(--primary-color) !important;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: var(--text-color) !important;
}

.navbar-nav .nav-link:hover {
  color: var(--secondary-color) !important;
}

/* Hero Section */
.hero {
  height: 67dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10%;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  opacity: 0.9;
}
main {
  min-height: 65dvh;
  width: 100dvw;
}
/* CTA Button */
.btn-primary {
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  padding: 12px 25px;
  font-size: 1rem;
  border-radius: 8px;
  transition: 0.3s ease;
}

.btn-primary:hover {
  background: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  transform: scale(1.05);
  color: var(--bg-color);
}

/* Footer */
footer {
  margin-top: 50px;
  padding: 20px 0;
  background: rgba(18, 21, 26, 0.8);
  text-align: center;
  font-size: 0.9rem;
  color: var(--secondary-color);
}
.social-icons a {
  transition: all 0.5s ease;
}
.social-icons a:hover {
  color: var(--secondary-color) !important;
}
/* input and text area */
input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.298) !important;
}
.editors {
  position: sticky;
  top: 1%;
  right: 3%;
}
.blog-detail {
  line-height: 32px;
  font-weight: 400;
  font-size: 20px;
}
/* Blog list */
.blog-list {
  cursor: pointer;
}
.blog-list h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-list p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 70px;
}

@media (max-width: 600px) {
  .main {
    padding: 10px 0;
  }
  .hero {
    height: 60dvh;
  }
  .hero h1 {
    font-size: 2em;
  }
  .hero p {
    font-size: medium;
  }
  .blog-list p {
    margin-right: 0px;
  }
}
